<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle Name="Saku Overclock"
          Manufacturer="Saku Labs Inc."
          Version="1.2.0.0"
          UpgradeCode="78cca74b-3d55-43d6-b7c3-fd40b2832291"
          IconSourceFile="$(var.PublishDir)Assets\WindowIcon.ico">

    <BootstrapperApplication SourceFile="$(var.SakuBAPath)">
      <Payload SourceFile="$(var.SakuBABinDir)\mbanative.dll" />
      <Payload SourceFile="$(var.SakuBABinDir)\SakuBA.dll" />
      <Payload SourceFile="$(var.SakuBABinDir)\SakuBA.runtimeconfig.json" />
      <Payload SourceFile="$(var.SakuBABinDir)\SakuBA.deps.json" />
      <Payload SourceFile="$(var.SakuBABinDir)\WixToolset.BootstrapperApplicationApi.dll" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage Id="SakuMsiPackage"
                  SourceFile="$(var.SakuMsi.TargetPath)"
                  Vital="yes" />
    </Chain>

  </Bundle>
</Wix>
